.dockerignore
.gitignore
Dockerfile*

logs/
npm-debug.log
yarn-error.log
node_modules/
coverage/
dist/
.idea/
run/
.DS_Store
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*

typings/
cache_files/

# 容器内创建的目录
server_cache_files/
db-data/

